<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>www.trojansfc.com</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107344910-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments)};
			gtag('js', new Date());

			gtag('config', 'UA-107344910-1');
			</script>
	</head>
	<body>
		<div id="header">
			<div class="container">
				<div class="col-lg-2">
					<img class="logo"  src="/images/tfc-logo.png" style="padding: 0;">
				</div>
				<div class="col-lg-10">
					<div style="margin: 0px;">
						<h1 class="text-color" style="margin: 0px; padding: 10px; border-radius: 3px;">Southern California Trojans Futebol Club</h1>
					</div>
					<div role="navigation" class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" style="color: #FFCC00;">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar" style="color: #FFCC00;"></span><span class="icon-bar"></span><span class="icon-bar"></span>
								</button>
								<a href="/" class="navbar-brand">Trojans F.C.</a>
							</div>
							<div class="collapse navbar-collapse colorScheme" style="color: #FFCC00 !important;">
								<ul class="nav navbar-nav navbar-left">
										{{# each navLinks}}
										<li {{#ifeq ../section key}}class="active" style="color: #FFCC00 !important;"{{else}}{{/ifeq}}>
											<a href="{{ href }}">{{ label }}</a>
										</li>
									{{/each}}
									<li><a href="http://socalpremier.org/_element_display/#%2F72238%2Fteams%2F88733119%2F89797375-88733208%2FTEAM.html%3Fdummy%3D1514776561066">Schedule</a></li>

								</ul>
								<ul class="nav navbar-nav navbar-right" style="color: #FFCC00 !important;">
									{{#if user}}
										<li style="color: #FFCC00 !important;"><a href="/keystone/">Admin</a></li>
									{{/if}}
									<li style="color: #FFCC00 !important;"><a onclick="alert('Thank you! Our tech team is working with our bank to implement direct donations via their secure portal. Please fill out our contact form if you are interested in donating immedietly.')">Donate</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<br>
		<div class="container">
			<div id="footer">
				<div style="color: #777777; font-size: 20px; text-align: center;">Corporate Donors</div>
				<section class="affiliations">
					<div>
						<a href="http://www.olympianburgers.com/"><img src="/images/olympian-logo.png" class="logo"></a>
						<a href="http://www.smartandfinal.com/"><img src="/images/Smart&Final_logo.svg.png" class="logo"></a>
						<a href="http://www.wingstop.com/"><img src="/images/wingstop-logo.png" class="logo"></a>
					</div>
				</section>
				<div style="color: #777777; font-size: 20px; text-align: center;">Affiliations</div>
				<section class="affiliations">
					<div>
						<a href="http://www.ussoccer.com/about/affiliates"><img src="/images/ussoccer-logo.png" class="logo"></a>
						<a href="http://www.fifa.com/index.html"><img src="/images/fifa-logo.png" class="logo"></a>
						<a href="http://www.usadultsoccer.com/page/show/992765-region-iv"><img src="/images/usadultsoccer-logo.png" class="logo"></a>
						<a href="http://www.upslsoccer.com/"><img src="/images/calsouth-logo.png" class="logo"></a>
					</div>
				</section>
			</div>
		</div>
		{{!-- </div>
		<div class="container">
			<div id="footer" style="				
				grid-row-start: 4;
				grid-row-end: 4;
				background-color: #777777;
				color: #FFCC00;
				min-height: 20%;
				margin: 0;"
			>
				<h5 style="">Trojans FC</h5>
    			<img src="/images/logo.svg" style="height:100px; width: 100px;">
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div> --}}
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
